/* base settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

:root {
    --mainSise: 20px;
    --secondSise: 50px;
    --mainColor: #3914AF
}


@font-face {
    font-family: 'Roboto';
    src: url('../media/fonts/Roboto.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/MontserratRegular.ttf');
}

h1, h2, h3 {
    font-family: 'Nunito';
}

body {
    flex-direction: column;
    flex: 1;
    display: flex;
    font-size: var(--mainSise);
    font-family: "Roboto";
    min-height: 100%;
    overflow-x: hidden;

}

main {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
}

h1, h2, h3 {
    display: block;
}

.s_title {
    font-size: var(--secondSise);
}

.color_text {
    color: var(--mainColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: clamp(200px, 90%, 1200px);
}

/* header */
header {
    width: 100vw;
    top: 0;
    z-index: 9;
    position: sticky;
    border-bottom: 2px solid var(--mainColor);
    backdrop-filter: blur(20px);

    & a {
        color: #6f44ff;
        display: block;
        border: 2px solid transparent;
        transition: .4s;
        padding: 1.5px;

        &:hover {
            border-bottom: 2px solid var(--mainColor);
        }
    }
}

/* slider */

.slider {
    width: 600px;
    height: 300px;
    background-color: rgba(233, 233, 233, 0.3);
    border: 2px solid var(--mainColor);
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    * .btn {

        width: 200px;
    }

    & h3 {
        color: var(--mainColor);
    }
}

.slider_img {
    width: 40%;
    flex-shrink: 0;
    background-image: url('./../media/games/doom/30ab6302-e359-47de-b97c-ce91794dc842.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.btn {
    transition: .4s;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--mainColor);
    color: white;
    height: 40px;
    padding: 10px;
    width: 80%;
    max-width: 600px;

    &:hover {

        border-radius: 15px;
    }

}

.c-b {
    justify-content: space-between;
}

.slider_buttons {
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    bottom: 2%;

    & div {
        width: 10%;
        height: 8px;
        background-color: grey;
        transition: .4s;

        &:hover {
            background-color: white;
        }
    }

}

.active {
    background-color: white !important;
}

.sliders {
    display: flex;

    & div {
        transition: .4s;
        background-image: url('./../media/pngs/image.png');
        height: 150px;
        width: 300px;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            transform: scale(1.01);
        }
    }
}

/* base form settings */


.form {
    max-width: 600px;

    & .btn {
        height: 50px;
    }
}

label {
    max-width: 600px;
    transition: .4s;
}

.form_control {
    outline: none;
    transition: .4s;
    border-radius: 15px;
    border: 2px solid transparent var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    transition: .4s;
    max-width: 600px;
    width: 100%;
    background-color: rgb(128, 128, 128, .3);
    height: 40px;
    padding: 10px;

    &:hover {
        border: 2px solid var(--mainColor);
    }

    &~.fb_invalid {
        display: none;
        color: red;
    }

    &~.fb_valid {
        display: none;
        color: green;
    }

    &.is_valid {
        border-bottom: 2px solid green;

        &:hover {
            border: 2px solid green;
        }

        &~.fb_valid {

            display: block;
        }
    }

    &.is_invalid {
        border-bottom: 2px solid red;

        &:hover {
            border: 2px solid red;
        }

        &~.fb_invalid {

            display: block;
        }
    }
}


/* about */
.s_about {
    border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);

    overflow: hidden;
    position: relative;

    & div {
        font-size: 30px;
    }
}


.about_img {
    height: 300px;
    width: 500px;
    background-image: url('./../media/games/gta/1c0e0599-fad2-42c0-b496-5e299401eecd.jpg');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 30px var(--mainColor));
}

.stick {
    width: 2px;
    height: 200%;
    position: absolute;
    left: 4%;
    background-color: var(--mainColor);
    transform: rotate(2deg);
}

.stick-2 {

    transform: rotate(44deg);
}

.card {
    overflow: hidden;
    border-radius: 20px;
    transition: .4s;
    border: 2px solid var(--mainColor);
    width: calc((1200px - 40px) / 3);

    &:hover {
        transform: scale(1.01);
    }
}

.card_img {
    width: 100%;
    height: 200px;
    background-image: url('./../media/games/doom/a6d02527-9309-4856-8ff3-e77ec85340d2.jpg');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partener1 {
    width: 280px;
    height: 280px;
    background-image: url('./../media/companies/partners/2025-05-24_14-11.png');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partener2 {
    width: 280px;
    height: 280px;
    background-image: url('./../media/companies/partners/DShop.png');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partener3 {
    width: 500px;
    height: 500px;
    background-image: url('./../media/companies/partners/KENT_PRICE.png');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 30px var(--mainColor));
}

.s_partners {
    overflow: hidden;
    position: relative;
    border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

/* footer  */
footer {
    width: 100vw;
    background-color: #1f1f1f;

    & a {
        color: #aaaa;
        display: block;
        border: 2px solid transparent;
        transition: .4s;

        &:hover {
            color: #eeee;
        }
    }

}

.sticked {
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

/* porifle */

.user_block {
    border: 2px solid var(--mainColor);
    border-radius: 20px;
    width: 70vw;
}
@keyframes movingDrop {
    
    0% {
     filter: drop-shadow(0px 0px 10px var(--mainColor));

    }
    100% {
     filter: drop-shadow(0px 0px 40px var(--mainColor));

    }
    
}
.user_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex-shrink: 0;
    background-image: url('./../media/users/1667929102152124336.jpg');
    background-size: cover;
    background-position: center;
    animation: movingDrop 3s linear infinite alternate-reverse;
}



.filter_icon {
    display: none;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-image: url('./../media/icons/icon1.png');
    background-size: cover;
    background-position: center;
}

.btn {
    cursor: pointer;
}

.label_file {

    border: 2px dashed var(--mainColor);
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1300px) {
    .stick {
        display: none;
    }

}

/* mobile */
@media screen and (max-width:800px) {
    .about_block {
        & div {
            font-size: 20px;

        }

        gap: 20px;
        justify-content: center;
    }

    .about_img {
        height: 150px;
        width: 250px;
    }

    .card_block {
        justify-content: center;
    }


}

@media screen and (max-width:600px) {


    :root {
        --mainSise: 16px;
        --secondSise: 30px;
        --mainColor: #3914AF
    }

    .s_partners>.container>div {
        flex-wrap: nowrap;
    }

    .partener1, .partener2, .partener3 {
        height: 100px;
        width: 100px;
    }

    .card {
        width: 300px;
    }

    .sliders {
        flex-direction: column;
    }

    .slider {
        width: 300px;
        height: 150px;
        font-size: 14px !important;

        & .btn {
            height: 20px;
            width: 100px;
        }
    }

    .slider_img {
        height: 150px;
    }

    .slider_info {
        gap: 20px;
    }

    .slider_buttons div {
        height: 4px;
    }

    .about_block {
        & div {
            font-size: 16px;

        }

        gap: 20px;
        justify-content: center;
    }

}

/* burger */

.burger {
    transition: .4s;

    &:hover {
        transform: scale(1.05);
    }

    cursor: pointer;
    display: none;
    height: 50px;
    width: 50px;

    & div {
        border-radius: 5px;
        width: 100%;
        height: 6px;
        background-color: var(--mainColor);
    }
}

@media screen and (max-width:800px) {
    .desctop-filter {
        display: none;
    }

    .filter_icon {
        display: block;
        transition: .5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    header .container {
        justify-content: space-between;
        align-items: center;
    }

    .header_info {
        display: none;
    }

    .burger {
        display: flex;
    }

    .icon2, .icon3, .icon4 {
        width: 40px;
        height: 40px;
    }

    .icon5 {
        width: 30px;
        height: 30px;
    }
    .movingStick {
        display: none;
    }

}

.blured {
    position: relative;
    overflow: hidden;
}

@keyframes my-blur {
    0% {
        width: 80%;
    }

    100% {
        width: 40%;
    }

}

.blured::before {
    position: absolute;
    content: '';
    filter: blur(100px);
    width: 70%;
    height: 200px;
    top: -230px;
    background-color: #8461f7;
    animation: my-blur 1s linear infinite alternate-reverse;
}

.icon3 {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/icon3.png');
}

.icon2 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/icon2.png');
}

.icon4 {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/icon4.png');
}

.icon5 {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/icon5.png');
}

.light {
    cursor: pointer;
    
    width: 50px;
    height: 50px;
    border: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid var(--mainColor);
    }

    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/light.png');
}

.change {
    cursor: pointer;
    border: 2px solid transparent;

    transition: .4s;

    &:hover {
        border-bottom: 2px solid var(--mainColor);
    }

    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url('./../media/icons/change.png');
}
@keyframes movingStick {
    0% {
        height: 40px;
    }
    100% {
        height: 20px;
    }
    
}

#textBox {
    height: 65px;
}
.movingStick  {
    height: 40px;
    width: 2px;
    background-color: rgb(226, 226, 226);
    animation: movingStick .8s linear infinite alternate-reverse;
}


#card2 {
    background-image: url('./../media/games/as/7f58199a-b484-47a9-94a6-a4986a13291e.jpg');
}


#card3 {
    background-image: url('./../media/games/tes4/2f336d51afa0374a3c5e0919ce1f1e11.jpg');
}

#card4{
    background-image: url('./../media/games/gta/5b6e0401-05f7-4640-8174-76005c4ed2d7.jpg');
}
#card5 {
    background-image: url('./../media/games/clair/9e216972faae79a5c953d5cf441afa9f.jpg');
}
.star {
    height: 30px;
    width: 30px;
    background-image: url('./../media/icons/star.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}